In [7]:
import numpy as np
import pandas as pd

In [30]:
data = {'tenor_yrs': [0, 1, 3, 5, 10], 
        'rates': [0, 2.01, 3, 1.99, 2.69]}
df = pd.DataFrame(data)

In [31]:
start = int(df["tenor_yrs"].min())
end = int(df["tenor_yrs"].max())
step = df.loc[df["tenor_yrs"] > 0, 'tenor_yrs'].min()

interpolated_rate = df.set_index('tenor_yrs').reindex(np.arange(start, end, step)).interpolate().reset_index()
interpolated_rate

   tenor_yrs  rates
0          0  0.000
1          1  2.010
2          2  2.505
3          3  3.000
4          4  2.495
5          5  1.990
6          6  1.990
7          7  1.990
8          8  1.990
9          9  1.990