In [31]:
import numpy as np
import pandas as pd
from scipy.interpolate import interp1d

In [44]:
data = {'tenor_yrs': [0, 1, 3, 5, 10], 
        'rates': [0, 2.01, 3, 1.99, 1.05]}
df = pd.DataFrame(data)

In [45]:
start = int(df["tenor_yrs"].min())
end = int(df["tenor_yrs"].max()) + 1
step = df.loc[df["tenor_yrs"] > 0, 'tenor_yrs'].min()

# NUMPY LINEAR INTERPOLATION
interpolated_rate = df.set_index('tenor_yrs').reindex(np.arange(start, end, step)).interpolate().reset_index()
interpolated_rate

    tenor_yrs  rates
0           0  0.000
1           1  2.010
2           2  2.505
3           3  3.000
4           4  2.495
5           5  1.990
6           6  1.802
7           7  1.614
8           8  1.426
9           9  1.238
10         10  1.050

In [48]:
# SCIPY LINEAR INTERPOLATION
interpolate_x = 2
y_interp = interp1d(data['tenor_yrs'], data['rates'], kind='linear')
print("Value of Y at x = {} is".format(interpolate_x), y_interp(interpolate_x))

Value of Y at x = 2 is 2.505

In [64]:
# Driver Code
data = [[1, 2.01], [3, 3]]
year_x = 2

# Linear Interpolation formula
def interpolation(d, x):
    output = d[0][1] + (x - d[0][0]) * ((d[1][1] - d[0][1]) / (d[1][0] - d[0][0]))
    return output
 
print("[MANUAL] Linear Interpolation on year {} is".format(year_x), interpolation(data, year_x))

[MANUAL] Linear Interpolation on year 2 is 2.505